.thumbContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  align-self: flex-start;
}

.thumbText {
  text-align: center;
}

.ThumbItem {
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}
