.blockImgPreview {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
}

.blockImgPreview img { 
  max-width: 100%;
  pointer-events: none;
}

.blockImgPreview canvas { 
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}