.blockImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  align-self: flex-start;
}

.blockImgText {
  text-align: center;
}

.kitImages {
  margin-bottom: 10px;
}

.crop {
  width: 500px;
  position: relative;
  border: 1px solid blue;
}

.blockImg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.blockImg img {
  max-width: 100px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
