.blockImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  align-self: flex-start;
}

.blockImgText {
  text-align: center;
}

.kitImages {
  margin-bottom: 5px;
}

.crop {
  border: 1px solid blue;
  background-color: #fff;
  padding: 0 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-bottom: 20px;
}

.buttons > *:first-child {
  margin-right: 20px;
}

/* @media (max-width: 730px) { 
  .crop {
    margin: 0 30px;
  }
} */
