.grid {
  margin: 0 auto;
}

.gridImage {
  margin-bottom: 10px;
}

.gridImage img {
  width: inherit;
  height: inherit;
}

.gridItemDefault {
  width: 180px;
  height: 160px;
}

.gridItemWidth {
  width: 180px;
}
.gridItemHeight {
  height: 160px;
}

.gridItemAdd {
  width: 150px;
  height: 150px;
}

.iconButton {
  height: inherit;
  width: inherit;
}

.closeBtn {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
}
