.grid {
  margin: 0 auto;
}

.gridImage {
  padding: 4px;
}

.gridImage img {
  height: 100%;
  width: 100%;
}

.gridItemWidth {
  width: 180px;
}

.gridItemHeight {
  height: 160px;
}

.gridItemAdd {
  width: 160px;
  height: 150px;
}

.iconButton {
  height: inherit;
  width: inherit;
}

.closeBtn {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
}
