 .container {
   width: 860px;
   min-width: 300px;
   margin: 0 auto;
 }
 
 .dropzone {
  background-color: rgba(128, 128, 128, 0.09);
  text-align: center;
}

.blockImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  align-self: flex-start;
}

.blockImg {
  display: inline-flex;
  border-radius: 2px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.blockImgInList {
  width: 100px;
  height: 100px;
  border: 1px solid #eaeaea;
}

.blockImgInner {
  display: flex;
  min-width: 0px;
  overflow: hidden;
}

.blockImgSolo {
  max-height: 300px; 
}

.blockImgSolo .blockImgInner {
  justify-content: center;
}

.blockImgInner img {
  display: block;
  width: auto;
  height: 100%;
}

.blockImgText {
  text-align: center;
}

.DropzoneWrapper {
  margin-bottom: 30px;
}
